/*definition des polices personnalisées */


/* Eléments principaux de la page */
body
{
    background-color: #E6E6E6;
    font-family: Helvetica, Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

.post h1, footer h1, nav a
{
    font-family: Helvetica, Dayrom, serif;
    font-weight: 400;
    font-size:20px;
    text-transform: uppercase;
}

.delete_post{
    position:absolute;
    right:35px;
    bottom:20px;
    font-size:12px;
}

.delete_post_a:visited, .delete_post_a:hover, .delete_post_a:link
{
    color:black;
}


.close_post{
    position:absolute;
    right:35px;
    bottom:40px;
    font-size:12px;
}

.close_post_a:visited, .close_post_a:hover, .close_post_a:link{
    color:black;
}

.delete_comment{
    position:absolute;
    right:15px;
    bottom:10px;
    font-size:10px;
}

.delete_comment_a:visited, .delete_comment_a:hover, .delete_comment_a:link
{
    color:white;
}

.comment h1
{
    text-transform: none;
}

.post{
    padding: 20px 0px;
}

.post article
{
    position:relative;
    background-color:white;
}
/* Header */

.new div
{   
    font-size:20px;
    display:inline-block;
    min-width:150px;
    max-width:150px;
    text-align:center;
    margin:10px;
}
header
{
}

#titre_principal
{
    display: inline-block;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
}

.logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}

.image_logo
{
    max-width: 40px;
}

.text_logo
{
    max-width: 100px;
}
.logo
{
    height:2.5em
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/* Navigation */

nav
{
    margin: 0px 0px;
    display: inline-block;
    width: 900px;
    text-align: center;
}

nav div
{
    display: inline-block;
    width: 170px;
    text-align: center;
}

nav a
{
    font-size: 1.3em;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

nav .blog:hover
{
    border-bottom: 3px solid #57007F;
}

nav .photo:hover
{
    border-bottom: 3px solid #FE6A00;
}

nav .travel:hover
{
    border-bottom: 3px solid #004A7F;
}

nav .team:hover
{
    border-bottom: 3px solid #F11515;
}

nav .van:hover
{
    border-bottom: 3px solid #007F0E;
}

nav .connexion:hover
{
    border-bottom: 3px solid #ECD01C;
}



nav img
{
    margin:5px;
}

/* Bannière */

#banniere_image {
    margin-top: 15px;
    height: 200px;
    width: 900px;
    border-radius: 5px;
    background: url('../../images/baniere2.JPG') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 50px;
    padding-top: 4px;
    padding-left: 4px;
    background-color: rgb(24,24,24); /* Pour
    les anciens navigateurs */
    background-color: rgba(255,255,255,0.8);
    color: black;
    font-size: 0.8em;
}

.bouton_rouge
{
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('../../images/fond_degraderouge.png')
        repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration:
        none;
}

.bouton_rouge img
{
    border: 0;
}

/* Corps */
article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article
{
    width: 530px;
    margin-right: 15px;
    padding: 20px 35px;
}

article h1{
    font-size: 20px;
}
article legend
{
    position: absolute;
    right:0px;
    bottom: 15px;
    font-size: 10px;
    color:grey;
    text-transform:lowercase;
}

article .title
{
    position: relative;
    border-bottom: solid 1px grey;
    margin-bottom: 30px;
    width: 530px;
}

article .button
{
    position: absolute;
    right:15px;
    bottom:50%;
}

article .inside
{
    position: relative;
    margin-bottom: -25%;
}

.title h1
{
    margin: 15px 0px 0px 0px;
    padding: 0px;
}

.tablepost
{
    position:relative;
    margin-top: 30px;
}

.tablepost td
{
    min-width: 295px;
}

.tablepost input
{
    width:270px;
}

.comment legend
{
    position: absolute;
    right:10px;
    top:30px;
    font-size: 10px;
    text-transform:lowercase;
}

.ico_categorie
{           
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 16px;
}

.body_post
{
    position:relative;
}

.comment
{
    position: relative;
    width: 225px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 20px;
    margin-bottom:10px;
    color: white;
    font-size: 0.9em;
    background:#0089e0;
    color:#fff;	
}

.comment:before{
    content:"";
    float:left;
    position:absolute;
    top:20px;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent #0089e0 transparent transparent;
    border-style:solid;
    border-width:12px 12px 12px 0;		
}

.comment:after{
    content:"";
    position:absolute;
    top:30px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
}

.comment h1
{
    margin: 0px;
}

.comment p
{
    margin-bottom:0px;
}

.write 
{
    position: relative;
    width: 225px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    color: white;
    padding:20px;
    font-size: 0.9em;
    background:#D8D8D8;
    color:#fff;	
}

.write textarea
{
    max-width:210px;
    min-width:210px;
    min-height:38px;
    resize:none;
    border:none;
}

textarea{
    max-width:270px;
    min-width:270px;
    min-height:38px;
    resize:none;
    border:none;
}

.fake_textarea
{
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border-radius:3px;
    border: 1px solid #A1A4A3;
    background: white;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    resize: both;
    padding:5px;
}

.center .name
{
    border-radius: 3px 3px 0px 0px;
    border: 1px solid #A1A4A3;
}
.center .email
{
    border-radius: 0px 0px 3px 3px;
    border-left: 1px solid #A1A4A3;
    border-right: 1px solid #A1A4A3;
    border-bottom: 1px solid #A1A4A3;
}
.center .password
{
    border-left: 1px solid #A1A4A3;
    border-right: 1px solid #A1A4A3;
    border-bottom: 1px solid #A1A4A3;

}

.left
{
    float:left;
}

.right
{
    float:right;
}

.table_connexion
{
    display: inline-block;
    font-size:12px;
}

.div_connexion
{
    display: inline-bloc;
}


.center input
{
    max-width:340px;
    min-width:340px;
    min-height:50px;
    padding:5px;
    margin: -2px -3px;
    resize:none;
    border:none;
    font-size:20px;
}

.center .submit
{
    border-radius:5px;
    color: #fff;
    font-size:20px;
    width: 100px;
    max-width:100px;
    min-width:100px;
    max-height:40px;
    min-height:40px;
    height: 40px;
    border: none;
    margin: 10px;
    background: #0c0 0 0 no-repeat; 
    text-align:center;
}

.center
{
    text-align:center;
}

.justcenter
{
    text-align:center;
}

.center form
{
    position: relative;
    left:280px;
    width:600px;
}

.shadow {
    -moz-box-shadow:    inset 0 0 3px #FD5400;
    -webkit-box-shadow: inset 0 0 3px #FD5400;
    box-shadow:         inset 0 0 3px #FD5400;
}

.sumbit_comment
{
    margin-top:5px;
    text-align: right;
}

.write:before{
    content:"";
    float:left;
    position:absolute;
    top:20px;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent #D8D8D8 transparent transparent;
    border-style:solid;
    border-width:12px 12px 12px 0;		
}

.write:after{
    content:"";
    position:absolute;
    top:30px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
}

#photo_encart
{
    text-align: center;
}

#photo_encart img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}

/* Footer */

footer
{

}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}

#fact, #mes_photos, #mes_amis
{
    display: inline-block;
    vertical-align: top;
}

#fact
{
    width: 28%;
}

#mes_photos
{
    width: 35%;
}

#mes_amis
{
    width: 31%;
}

#mes_photos img
{
    border: 1px solid #181818;
    margin-right: 2px;
}

.all_photos
{
    width:446px;
    margin:1px;
}

#mes_amis ul
{
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    width: 48%;
    list-style-image:
        url('../../images/ico_liensexterne.png');
    padding-left: 2px;
}

#mes_amis a
{
    text-decoration: none;
    color: #760001;
}

.user
{   
    margin:10px;
    padding:10px;
}

.green{
    background: none no-repeat scroll 0 0 #00CC00;
    color: #FFFFFF;
}

.green
{
    position: relative;
    width: 225px;
    background-color: #00CC00;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 20px;
    margin-bottom:10px;
    color: white;
    font-size: 0.9em;
    background:#00CC00;
    color:#fff;	
}

.green:before{
    content:"";
    float:left;
    position:absolute;
    top:20px;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent #00CC00 transparent transparent;
    border-style:solid;
    border-width:12px 12px 12px 0;		
}

.green:after{
    content:"";
    position:absolute;
    top:30px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #00CC00;
    -webkit-box-shadow:-1px -1px 2px #00CC00;
    box-shadow:-1px -1px 2px #00CC00;
}

aside a
{
    color: white;
    text-decoration:none;
}

#side
{
    margin:0px 10px;
    font-size:20px;
}

.welcome
{
    position: relative;
    width: 560px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 20px;
    margin-bottom:10px;
    color: white;
    font-size: 0.9em;
    background:#0089e0;
    color:#fff;	
    font-size:20px;
}

.welcome img
{
    height:130px;
}
.welcome #div1
{
    display: inline-block;
    width: 410px;
    height:50px;
}.welcome #div2
{
    position:absolute;
    right:0px;
    top:0px;
    display: inline-block;
    width: 150px;
    margin:-20px -20px -20px 0px;
}

#engine_start
{
    position: absolute;
    top: -1000px;
    left: -1000px;
}

fieldset { 
    border: 0; 
    margin-bottom: 20px;
    margin-left: -10px;

}

.vote {
	list-style: none;
	margin: 0;
	padding: 0;
}
.prop {

	margin-right: 10px;
        margin-top:10px;
	width: 500px;
        height:100px;
	border-radius:10px;
        background-color: whitesmoke;
	position: relative;
	font: normal 15px/1.3 "Lucida Grande","Lucida","Arial",Sans-serif;
}
.selected { background-color: orange; }

.selected .vote-select { display: none; }

.vote-select {

	position: absolute;
	//background: url(select.gif) no-repeat 0 0;
	//text-indent: -9999px;
        background-color:orange;
        color:yellow !important;
        height:19px!important;
        width:83px!important;
        margin-left:10px;
}

.prop input { display: none; }

.prop span {
        height:19px;
        position: absolute;
        top:50%;
        margin-top:-10px;
	color: green;
	font-weight: bold;
	text-decoration: none;
	height: 100%;
        text-align:center;
        width:100%;
}

.vote_left{
    width: 80%;
    display: inline-block;
    position:absolute;
    left:0px;
    margin:15px;
}
.vote_right{
    height:100%;
    width:20%;
    display: inline-block;
    border-left: solid 2px white;
    position: absolute;
    right:0px;
}

.vote_right a{
        height:19px;
        position: absolute;
        top:50%;
        margin-top:-10px;
	color: green;
	font-weight: bold;
	text-decoration: none;
	height: 100%;
        text-align:center;
        width:100%;
        border-radius:10px;
}

.selected span {
    display:none;
}

a.vote-deselect {
    display: none;
    color: white;
}


.selected a { display: none; }
.selected a.vote-deselect { display: block; }

.voteit {
	display: block;
        position:absolute;	
	left: 50%;
        bottom:0%;
	width: 115px;
	height: 34px;
	border: 0;
	cursor: pointer;
	background: url(sendit.gif) no-repeat 0 0;
	text-indent: -9999px;
	margin: 20px 0px 20px -60px;
}
